<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <div class="container">
      <a href="/expense/new" class="btn btn-primary mb-2 mt-4">Add New Expense</a>
      <h1>Expenses List</h1>
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Amount</th>
              </tr>
          </thead>
          <tbody>
              {{#each expenses}}
              <tr>
                  <td>{{this.name}}</td>
                  <td>{{this.description}}</td>
                  <td>{{this.amount}}</td>
              </tr>
              {{/each}}
          </tbody>
      </table>
    </div>
</body>
</html>
